body, html {

	 position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
	font-family: helvetica, arial sans-serif;
	font-style: bold uppercase;
	margin: 0px;
	padding: 10px;
	z-index: 99;
	background-color: cadetblue;
    font-size: 15vw; line-height: 99%;
}

img {
    width: 100vw;
}

#one {
		display: block;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display: none;
	}








@media screen and (max-width: 1024px) {

	#one {
		display: none;
	}

	#two {
		display: block;
	}

	#three {
		display: none;
	}

	#four {
		display: none;
	}


}



@media screen and (max-width: 768px) {


	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: block;
	}


	#four {
		display: none;
	}


}



@media screen and (max-width: 600px) {

	

	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}


	#four {
		display: block;

	}



	
}



@media screen and (max-width: 300px) {

	

	#one {
		display: none;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display: none;

	}

	



	
}
